openapi: 3.1.0
info:
  title: Notion API
  description: API for interacting with Notion resources such as pages and databases.
  version: 1.0.0
servers:
- url: https://api.notion.com/v1
  description: Main API server
paths:
  /v1/blocks/{block_id}:
    delete:
      responses:
        default:
          description: Default response
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
      operationId: deleteBlock
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
      operationId: retrieveBlock
    patch:
      responses:
        default:
          description: Default response
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
      operationId: updateBlock
  /v1/blocks/{block_id}/children:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
      operationId: listBlockChildren
    patch:
      responses:
        default:
          description: Default response
      parameters:
      - name: block_id
        in: path
        required: true
        schema:
          type: string
      operationId: appendBlockChildren
  /v1/comments:
    get:
      responses:
        default:
          description: Default response
      operationId: listComments
    post:
      responses:
        default:
          description: Default response
      operationId: createComment
  /v1/databases:
    post:
      responses:
        default:
          description: Default response
      operationId: createDatabase
  /v1/databases/{database_id}:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: database_id
        in: path
        required: true
        schema:
          type: string
      operationId: retrieveDatabase
    patch:
      responses:
        default:
          description: Default response
      parameters:
      - name: database_id
        in: path
        required: true
        schema:
          type: string
      operationId: updateDatabase
  /v1/databases/{database_id}/query:
    post:
      responses:
        default:
          description: Default response
      parameters:
      - name: database_id
        in: path
        required: true
        schema:
          type: string
      operationId: queryDatabase
  /v1/file_uploads:
    get:
      responses:
        default:
          description: Default response
      operationId: listFileUploads
    post:
      responses:
        default:
          description: Default response
      operationId: createFileUpload
  /v1/file_uploads/{file_upload_id}:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: file_upload_id
        in: path
        required: true
        schema:
          type: string
      operationId: getFileUpload
  /v1/file_uploads/{file_upload_id}/complete:
    post:
      responses:
        default:
          description: Default response
      parameters:
      - name: file_upload_id
        in: path
        required: true
        schema:
          type: string
      operationId: completeFileUpload
  /v1/file_uploads/{file_upload_id}/send:
    post:
      responses:
        default:
          description: Default response
      parameters:
      - name: file_upload_id
        in: path
        required: true
        schema:
          type: string
      operationId: sendFileUpload
  /v1/oauth/introspect:
    post:
      responses:
        default:
          description: Default response
      operationId: oauthIntrospect
  /v1/oauth/revoke:
    post:
      responses:
        default:
          description: Default response
      operationId: oauthRevoke
  /v1/oauth/token:
    post:
      responses:
        default:
          description: Default response
      operationId: oauthToken
  /v1/pages:
    post:
      responses:
        default:
          description: Default response
      operationId: createPage
  /v1/pages/{page_id}:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      operationId: retrievePage
    patch:
      responses:
        default:
          description: Default response
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      operationId: updatePage
  /v1/pages/{page_id}/properties/{property_id}:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: page_id
        in: path
        required: true
        schema:
          type: string
      - name: property_id
        in: path
        required: true
        schema:
          type: string
      operationId: getPageProperty
  /v1/search:
    post:
      responses:
        default:
          description: Default response
      operationId: search
  /v1/users:
    get:
      responses:
        default:
          description: Default response
      operationId: listUsers
  /v1/users/me:
    get:
      responses:
        default:
          description: Default response
      operationId: getSelf
  /v1/users/{user_id}:
    get:
      responses:
        default:
          description: Default response
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      operationId: getUser
components:
  headers:
    NotionVersion:
      required: true
      schema:
        type: string
        default: '2022-06-28'
      description: Notion API version
  schemas:
    Page:
      type: object
      required:
      - object
      - id
      - properties
      properties:
        object:
          type: string
          enum:
          - page
        id:
          type: string
          format: uuid
        properties:
          type: object
          additionalProperties: true
    PageUpdate:
      type: object
      properties:
        properties:
          type: object
          additionalProperties: true
    PageCreate:
      type: object
      required:
      - parent
      - properties
      properties:
        parent:
          type: object
          required:
          - database_id
          properties:
            database_id:
              type: string
              format: uuid
        properties:
          type: object
          properties:
            title:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: object
                    properties:
                      content:
                        type: string
          additionalProperties: true
        children:
          type: array
          items:
            type: object
            additionalProperties: true
        icon:
          type: object
          properties:
            emoji:
              type: string
        cover:
          type: object
          properties:
            external:
              type: object
              properties:
                url:
                  type: string
                  format: uri
    Database:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - database
        id:
          type: string
          format: uuid
        properties:
          type: object
          additionalProperties: true
    User:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - user
        id:
          type: string
          format: uuid
        name:
          type: string
        avatar_url:
          type: string
          format: uri
    BlockChildren:
      type: array
      items:
        $ref: '#/components/schemas/Block'
    Block:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - block
        id:
          type: string
          format: uuid
        type:
          type: string
        block_data:
          type: object
          additionalProperties: true
    Comment:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - comment
        id:
          type: string
          format: uuid
        parent:
          type: object
          additionalProperties: true
        content:
          type: string
    PagePropertyItem:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - property_item
        id:
          type: string
          format: uuid
        property_data:
          type: object
          additionalProperties: true
    DatabaseQuery:
      type: object
      properties:
        filter:
          type: object
          additionalProperties: true
        sorts:
          type: array
          items:
            type: object
            additionalProperties: true
    DatabaseRecord:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - database_record
        id:
          type: string
          format: uuid
        record_data:
          type: object
          additionalProperties: true
    SearchRequest:
      type: object
      properties:
        query:
          type: string
        sort:
          type: object
          additionalProperties: true
    SearchResponse:
      type: array
      items:
        $ref: '#/components/schemas/SearchResult'
    SearchResult:
      type: object
      required:
      - object
      - id
      properties:
        object:
          type: string
          enum:
          - search_result
        id:
          type: string
          format: uuid
        result_data:
          type: object
          additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- BearerAuth: []
