openapi: 3.1.0
info:
  title: Notion API
  description: API for interacting with Notion resources such as pages and databases.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.notion.com
    description: Main API server
paths:
  /v1/blocks/{block_id}:
    delete:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: block_id
          in: path
          required: true
          schema:
            type: string
      operationId: deleteBlock
      summary: Delete Block
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: block_id
          in: path
          required: true
          schema:
            type: string
      operationId: retrieveBlock
      summary: Retrieve Block
    patch:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: block_id
          in: path
          required: true
          schema:
            type: string
      operationId: updateBlock
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUpdate'
      summary: Update Block
  /v1/blocks/{block_id}/children:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: block_id
          in: path
          required: true
          schema:
            type: string
      operationId: listBlockChildren
      summary: List Block Children
    patch:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: block_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - children
              properties:
                children:
                  $ref: '#/components/schemas/BlockChildren'
      operationId: appendBlockChildren
      summary: Append Block Children
  /v1/comments:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: listComments
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: List Comments
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: createComment
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Create Comment
  /v1/databases:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: createDatabase
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCreate'
            examples:
              basic:
                value:
                  properties:
                    Name:
                      type: title
                      title: {}
              create-activity-logs:
                value:
                  parent:
                    type: page_id
                    page_id: <PAGE_ID>
                  title:
                    - type: text
                      text:
                        content: Activity Logs
                  properties:
                    Name:
                      type: title
                      title: {}
                    Action:
                      type: select
                      select:
                        options: []
                    Endpoint:
                      type: multi_select
                      multi_select:
                        options: []
                    Timestamp:
                      type: date
                      date: {}
                    HTTP Status:
                      type: number
                      number: {}
      summary: Create Database
  /v1/databases/{database_id}:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: database_id
          in: path
          required: true
          schema:
            type: string
      operationId: retrieveDatabase
      summary: Retrieve Database
    patch:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: database_id
          in: path
          required: true
          schema:
            type: string
      operationId: updateDatabase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
      summary: Update Database
  /v1/databases/{database_id}/query:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: database_id
          in: path
          required: true
          schema:
            type: string
      operationId: queryDatabase
      summary: Query Database
  /v1/file_uploads:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: listFileUploads
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: List File Uploads
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: createFileUpload
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Create File Upload
  /v1/file_uploads/{file_upload_id}:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: file_upload_id
          in: path
          required: true
          schema:
            type: string
      operationId: getFileUpload
      summary: Get File Upload
  /v1/file_uploads/{file_upload_id}/complete:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: file_upload_id
          in: path
          required: true
          schema:
            type: string
      operationId: completeFileUpload
      summary: Complete File Upload
  /v1/file_uploads/{file_upload_id}/send:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: file_upload_id
          in: path
          required: true
          schema:
            type: string
      operationId: sendFileUpload
      summary: Send File Upload
  /v1/oauth/introspect:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: oauthIntrospect
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Oauth Introspect
  /v1/oauth/revoke:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: oauthRevoke
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Oauth Revoke
  /v1/oauth/token:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: oauthToken
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Oauth Token
  /v1/pages:
    post:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: createPage
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
      summary: Create Page
  /v1/pages/{page_id}:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: page_id
          in: path
          required: true
          schema:
            type: string
      operationId: retrievePage
      summary: Retrieve Page
    patch:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: page_id
          in: path
          required: true
          schema:
            type: string
      operationId: updatePage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdate'
      summary: Update Page
  /v1/pages/{page_id}/properties/{property_id}:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: property_id
          in: path
          required: true
          schema:
            type: string
      operationId: getPageProperty
      summary: Get Page Property
  /v1/search:
    post:
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: search
      summary: Search
  /v1/users:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: listUsers
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: List Users
  /v1/users/me:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      operationId: getSelf
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
      summary: Get Self
  /v1/users/{user_id}:
    get:
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        default:
          description: Default response
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
          description: Notion API version
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      operationId: getUser
      summary: Get User
components:
  schemas:
    Page:
      type: object
      required:
        - object
        - id
        - properties
      properties:
        object:
          type: string
          enum:
            - page
        id:
          type: string
          format: uuid
        properties:
          type: object
          additionalProperties: true
    PageUpdate:
      type: object
      properties:
        properties:
          type: object
          additionalProperties: true
        archived:
          type: boolean
        icon:
          $ref: '#/components/schemas/IconObject'
        cover:
          $ref: '#/components/schemas/FileExternal'
    PageCreate:
      type: object
      required:
        - parent
        - properties
      properties:
        parent:
          oneOf:
            - type: object
              required:
                - page_id
              properties:
                page_id:
                  type: string
                  format: uuid
            - type: object
              required:
                - database_id
              properties:
                database_id:
                  type: string
                  format: uuid
            - type: object
              required:
                - type
                - workspace
              properties:
                type:
                  type: string
                  enum:
                    - workspace
                workspace:
                  type: boolean
                  description: Only supported for public integrations with insert_content
                    capability
        properties:
          type: object
          properties:
            title:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: object
                    properties:
                      content:
                        type: string
          additionalProperties: true
        children:
          type: array
          items:
            type: object
            additionalProperties: true
        icon:
          $ref: '#/components/schemas/IconObject'
        cover:
          $ref: '#/components/schemas/FileExternal'
    DatabaseCreate:
      type: object
      required:
        - parent
        - title
        - properties
      properties:
        parent:
          type: object
          required:
            - type
            - page_id
          properties:
            type:
              type: string
              enum:
                - page_id
            page_id:
              type: string
        title:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - text
              text:
                type: object
                properties:
                  content:
                    type: string
            required:
              - type
              - text
        icon:
          $ref: '#/components/schemas/IconObject'
        cover:
          $ref: '#/components/schemas/FileExternal'
        properties:
          $ref: '#/components/schemas/DatabasePropertyCreate'
    DatabaseUpdate:
      type: object
      properties:
        title:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - text
              text:
                type: object
                properties:
                  content:
                    type: string
            required:
              - type
              - text
        properties:
          type: object
          additionalProperties: true
        icon:
          $ref: '#/components/schemas/IconObject'
        cover:
          $ref: '#/components/schemas/FileExternal'
    IconObject:
      oneOf:
        - type: object
          required:
            - type
            - emoji
          properties:
            type:
              type: string
              enum:
                - emoji
            emoji:
              type: string
        - type: object
          required:
            - type
            - external
          properties:
            type:
              type: string
              enum:
                - external
            external:
              type: object
              properties:
                url:
                  type: string
                  format: uri
    FileExternal:
      type: object
      required:
        - type
        - external
      properties:
        type:
          type: string
          enum:
            - external
        external:
          type: object
          properties:
            url:
              type: string
              format: uri
    DatabasePropertyCreate:
      type: object
      properties: {}
      additionalProperties: true
      description: Any single property object allowed by Notion.
    Database:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - database
        id:
          type: string
          format: uuid
        properties:
          type: object
          additionalProperties: true
    User:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - user
        id:
          type: string
          format: uuid
        name:
          type: string
        avatar_url:
          type: string
          format: uri
    BlockChildren:
      type: array
      description: Children cannot include a child_database block. Use the database
        creation endpoint instead.
      items:
        $ref: '#/components/schemas/Block'
    BlockUpdate:
      type: object
      properties:
        archived:
          type: boolean
        callout:
          type: object
          properties:
            icon:
              $ref: '#/components/schemas/IconObject'
    Block:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - block
        id:
          type: string
          format: uuid
        type:
          type: string
        block_data:
          type: object
          additionalProperties: true
    Comment:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - comment
        id:
          type: string
          format: uuid
        parent:
          type: object
          additionalProperties: true
        content:
          type: string
    PagePropertyItem:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - property_item
        id:
          type: string
          format: uuid
        property_data:
          type: object
          additionalProperties: true
    DatabaseQuery:
      type: object
      properties:
        filter:
          type: object
          additionalProperties: true
        sorts:
          type: array
          items:
            type: object
            additionalProperties: true
    DatabaseRecord:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - database_record
        id:
          type: string
          format: uuid
        record_data:
          type: object
          additionalProperties: true
    SearchRequest:
      type: object
      properties:
        query:
          type: string
        sort:
          type: object
          additionalProperties: true
    SearchResponse:
      type: array
      items:
        $ref: '#/components/schemas/SearchResult'
    SearchResult:
      type: object
      required:
        - object
        - id
      properties:
        object:
          type: string
          enum:
            - search_result
        id:
          type: string
          format: uuid
        result_data:
          type: object
          additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: []
